@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    background: url('goku.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .dragao {
    height: 50px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.navbar .logo {
    margin-top: 85px;
    height: 170px;
}

.content {
    max-width: 420px;
    text-align: left;
    position: absolute;
    left: 5%;
    top: 35%;
}

.content h1 {
    font-family: 'Sedgwick Ave Display';
    font-weight: 500;
}

.content p {
   margin-top: 7px; 
   letter-spacing: 1.2px;
   font-family: 'Scheherazade', serif;
   font-size: 18px;
   line-height: 25px;
   font-weight: 600;
}

.botao-container {
    position: absolute;
    right: 10%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo do texto "Venha Conferir" */
.acima-button {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Sedgwick Ave Display';
    
}

/* Botão */
#btn-acessar {
    background-color: orange;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

/* Texto dentro do botão "Acessar" */
.acessar-texto {
    color: rgb(255, 255, 255); /* Altere para a cor desejada */
    font-weight: 500;
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
}

/* Efeito ao passar o mouse no botão */
#btn-acessar:hover {
    background-color: #ff6600;
    transform: scale(1.1);
}
